@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css";
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,700';

body{width:100%;height:50px;font-family: 'Roboto', sans-serif;padding:0;margin:0;
background:grey;}
#alllist{width:50%;margin-left:25%;margin-right:25%;height:50%;}
#slider{
  width:400px;height:720px;background-image: url("../img/task1.jpg");
  position:fixed;left:0;top:0;z-index:2;
}

.card{margin:0;width:100%;min-height:100px;float:left;padding:10px;}
button{height:50px;border:none;color:black;font-weight:700;padding:10px;}
#slider > button{width:100%;}

.todo_lists{width:100%;min-height:100px;float:left;padding:10px;}
.todolist{width:100%;min-height:100px;float:left;padding:10px;}
.collection{border:none;}
.userinput div > input{width:100%; }
.userinput div p{width:30%;display:inline-block;background:white;}
.userinput div button{width:30%;display:inline-block;}
ul{list-style:none;}
ul li span{margin:5px;}
.actived{color:#b1dcfb;background-color:white !important;}
.actived label{color:#b1dcfb;}

.todotitles{width:50%;margin-left:25%;margin-top:5%;cursor:pointer;}
.todotitles:hover{border-bottom:2px solid #f1c40f;}
#all{background:#34495e;color:#bdc3c7;}





